[submodule "node-hub/dora-rdt-1b/dora_rdt_1b/RoboticsDiffusionTransformer"]
	path = node-hub/dora-rdt-1b/dora_rdt_1b/RoboticsDiffusionTransformer
	url = https://github.com/thu-ml/RoboticsDiffusionTransformer
[submodule "node-hub/dora-magma/dora_magma/Magma"]
	path = node-hub/dora-magma/dora_magma/Magma
	url = https://github.com/microsoft/Magma
[submodule "node-hub/dora-samurai/samurai"]
	path = node-hub/dora-samurai/samurai
	url = https://github.com/yangchris11/samurai.git
[submodule "node-hub/dora-samurai/dora_samurai/samurai"]
	path = node-hub/dora-samurai/dora_samurai/samurai
	url = https://github.com/yangchris11/samurai.git
